<div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">

          <div class="col-sm-8 py-4">
            <h4 class="text-white">WELCOME</h4>
            <p class="text-muted">We should probably have some content go here so that this space is not awkwardly empty.</p>
          </div>
          <div class="col-sm-4 py-4">  

            <%= nav_helper 'nav-link', 'span' %>
            <%= login_helper 'nav-link' %>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">Woodbury Farmers Market</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>


  
