<section class="jumbotron text-center product_jambotron">
  <div class="container">
    <h1 class="jumbotron-heading" style="color: white">Woodbury</h1>
    <p class="lead text-muted">Farmer's market</p>
  </div>
</section>
