

  	<h2><%= @product.summary %></h2>

  	<%= link_to 'Edit', edit_product_path(@product) if logged_in?(:site_admin) %>

	<p>
	  <%= @product.description %>
	</p>

	<p>
	  <%= image_tag(@product.image_url, width: 356, height: 280) if @product.image.present? %>
	</p>


